{% extends 'acasa/main.html' %}

{% block content %}

<div class="header-bar">
<h1>Inregistreaza-te</h1>
</div>
<div class="card-body">
<form method="POST">
    {% csrf_token %}
    <label>{{form.username.label}}
    {{form.username}}
    </label>
<br>
    <label>{{form.password1.label}}
    {{form.password1}}
    </label>
<br>
    <label>{{form.password2.label}}
    {{form.password2}}
    </label>
<br>
    <input type="submit" value="Register">
</br>
</form>

<p>Ai deja un cont? <a href="{% url 'login' %}">Logare</a></p>
</div>
{% endblock %}