<!DOCTYPE html>
{% if request.user.is_authenticated%}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Delogare</a>
{% else %}
<a href="{% url 'login' %}">Logare</a>
{% endif %}

<h1>Lista de sarcini</h1>
<a href="{% url 'creaza-sarcina' %}">Adauga sarcina</a>
<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for sarcina in sarcini %}
    <tr>
        <td>{{sarcina.titlu}}</td>
        <td><a href="{% url 'editeaza-sarcina' sarcina.id %}">Editeaza</a></td>
        <td><a href="{% url 'sarcina' sarcina.id %}">Vizualizeaza</a></td>
        <td><a href="{% url 'sterge-sarcina' sarcina.id %}">Sterge</a></td>
    </tr>
    {% empty %}
    <h3>Nu exista sarcini</h3>
    {% endfor %}

</table>